defaults:
  - _self_
  - model: gpt2-instruct
  - loss: dpo
  - adaptor: lora

hydra:
  run:
    dir: ${local_run_dir}

exp_name: debug
local_run_dir: ./outputs/${exp_name}/${now:%Y-%m-%d_%H-%M-%S_%f}

seed: 0
batch_size: 32
eval_batch_size: 32
save: true

dataset: persona
max_length: 512
max_prompt_length: 256
prepend_persona: true

n_epochs: 1
n_examples: -1
n_eval_examples: -1

sample_during_eval: false
n_eval_model_samples: 0
do_first_eval: true

# lr: 5e-2
lr: 5e-5

gradient_accumulation_steps: 1
max_grad_norm: 10.0

optimizer: AdamW
warmup_steps: 150
activation_checkpointing: false
eval_every: 4960
minimum_log_interval_secs: 0.
